@model SistemaChequesNuevo.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Proveedor</h1>

<div>
    <!--<h4>Proveedor</h4>-->
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPersona)

        </dt>
        <dd class="col-sm-10">
           
            @if (1 == Model.TipoPersona)
            {
                <span> Persona Fisica </span>
            }
            @if (2 == Model.TipoPersona)
            {
                <span> Persona Juridica </span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentoIdentificador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentoIdentificador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaContable)
        </dt>
        <dd class="col-sm-10">
            @{
                @ViewBag.CuentaContableDescription
                }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver a la tabla</a>
</div>