@model SistemaChequesNuevo.Models.SolicitudCheque

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle de solicitud de cheque</h1>

<div>
    <!--<h4>SolicitudCheque</h4>-->
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaContable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaContable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver a la tabla</a>
</div>
