@model SistemaChequesNuevo.Models.SolicitudCheque

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro de Solicitud de Cheques</h1>

<p>
    <a asp-action="Create">Agregar solicitud de cheque</a>
</p>

<form asp-action="Search">
    <div class="row">

        <div class="col-4">
            <div class="form-group">
                <label asp-for="ProveedorId" class="control-label"> Proveedor </label>
                <select asp-for="ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="CuentaContable" class="control-label"></label>
                <select asp-for="CuentaContable" class="form-control" asp-items="ViewBag.cuentasContables"></select>
            </div>
        </div>
        <div class="col-4">
            <label asp-for="FechaDesde" class="control-label"></label>
            <input asp-for="FechaDesde" class="form-control" />
        </div>
        <div class="col-4">
            <label asp-for="FechaHasta" class="control-label"></label>
            <input asp-for="FechaHasta" class="form-control" />
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Buscar " class="btn btn-primary" />
    </div>
</form>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaContable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Solicitudes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroSolicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuentaContableDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuentaDestino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detallar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>