@model SistemaChequesNuevo.Models.SolicitudCheque

@{
    ViewData["Title"] = "Index";
}

<div class="table">

    <div class="table-header">
        <h1>Registro de cheque</h1>
        <a asp-action="Create" class="add-new"><ion-icon name="add-circle"></ion-icon> Crear solicitud de cheque</a>
    </div>

    <table class="table-body">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroSolicitud)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Monto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CuentaContable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CuentaDestino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedor)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Solicitudes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroSolicitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CuentaContable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CuentaDestino)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="edit-icon"><ion-icon name="create"></ion-icon></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="view-icon"><ion-icon name="eye"></ion-icon></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="remove-icon"><ion-icon name="trash"></ion-icon> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>